
/* for markdown preview in vscode */

h1,h2 {
    /* color: #223;*/
    font-weight: 900;
}

h5,h6 {
    /* color: #555; */
    font-size: 1.2rem;
    margin-bottom:0;
    margin-left: 0rem;
}

h5 {
    margin-left: 0rem;
}


p {
    /* color: black; */
    line-height: 1.8rem;
    font-family: serif;
    font-size:1.2rem;
}
