@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");

@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/LibreBaskerville.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/LibreBaskerville-Italic.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/L
  ibreBaskerville-Bold.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
