@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/LibreBaskerville.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/LibreBaskerville-Italic.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Libre+Baskerville";
  src: url("/css/Libre_Baskerville/LibreBaskerville-Bold.eot");
  src: url("/css/Libre_Baskerville/LibreBaskerville-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.woff2") format("woff2"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.woff") format("woff"),
    url("/css/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --width: 70%;
  --margin: 7rem;
}

section.art1 * {
  margin: 0;
  padding: 0;
  /* padding-bottom: 1rem; */
  /* outline: 10px solid rgba(0,0,0,0.03); */
}

section.art1 p,
section.art1 li,
section.art1 p {
  font-family: "Libre+Baskerville", serif;
}

section.art1 li {
  list-style: none;
}

section.art1 li::before {
  content: "\25B6";
  color: rgba(0, 155, 0, 0.8);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  margin-left: -3rem;
}

section.art1 > p > img {
  /* border: 5px solid black; */
  /* margin-left: -5rem; */
  /* margin-right: -6rem; */

  padding: 0;
  margin: 0;
}

section.art1 blockquote p,
section.art1 p,
section.art1 li {
  line-height: calc(24px + 1.5vw);
  font-size: calc(12px + 1.5vw);
  padding: 0;
  margin-bottom: 1rem;
}

section.art1 blockquote {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 3rem;
  margin: 2rem 0;
}

section.art1 blockquote p {
  margin: 0 4rem;
  padding: 1rem 0;
}

section.art1 h1,
section.art1 h2,
section.art1 h3 {
  font-family: "Inter";
  color: green;
}

section.art1 h1 {
  font-weight: 700;
}

section.art1 h1 {
  padding-top: 2rem;
  line-height: calc(44px + 1.5vw);
  font-size: calc(20px + 1.5vw);
}

section.art1 h2 {
  padding: 0;
}

section.art1 h2,
section.art1 h3 {
  line-height: calc(40px + 1.5vw);
  font-size: calc(14px + 1.5vw);
}

section.art1 pre code.markdown {
  width: 70%;
  overflow-x: auto;
  white-space: pre-wrap;
}

section.art1 a {
  box-sizing: border-box;
  /* display: inline-block;     */
  border-bottom: 0.25rem solid rgba(100, 0, 200, 0.5);
  /* background: rgba(0,100,0,0.2); */
  color: green;
  padding-bottom: 0;
}

section.art1 a:focus {
  background: green;
  color: white;
  outline: 0.5rem solid rgba(0, 100, 0, 0.5);
}

html::before {
  position: fixed;
  right: 0;
  bottom: 0;
  background: orangered;
  color: white;
  padding: 0 4px;
  border-radius: 4px;
  margin: 1px;
}

@media only screen and (min-width: 479px) {
  html::before {
    content: "> 480px";
  }
  :root {
    --margin: 7rem;
  }
}

@media only screen and (max-width: 480px) {
  html::before {
    content: "480px";
  }
  :root {
    --margin: 3rem;
  }
}

@media only screen and (max-width: 360px) {
  html::before {
    content: "360px";
  }
  :root {
    --margin: 1rem;
    --line-height: calc(20px + 1.5vw);
    --font-size: calc(10px + 1.5vw);

    --ind-line-height: calc(22px + 1.5vw);
    --ind-font-size: calc(10px + 1.5vw);
  }
  section.art1 blockquote,
  section.art1 blockquote p {
    margin: 0;
    padding: 0.5rem;
  }
}

section.art1 h1,
section.art1 h2,
section.art1 h3,
section.art1 p ~ img,
section.art1 li,
section.art1 p {
  /* width: var(--width); */
  margin: 0 var(--margin);
}

section.art1 p {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

section.art1 p + p {
  padding-top: 0.5rem;
}

section.art1 p {
  padding-bottom: 0.5rem;
}

section.art1 blockquote p {
  font-size: var(--ind-font-size);
  line-height: var(--ind-line-height);
}

section.art1 blockquote {
  margin: 1rem 0;
  /* box-sizing: content-box; */
  padding: var(--margin) 3rem var(--margin) 1rem;
  /* border: 5px solid black; */
  /* margin: 2rem 0; */
  /* padding: 1rem 3rem; */
  background: rgba(52, 100, 30, 0.603);
  color: black;

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    inset 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    inset 0 16px 16px rgba(0, 0, 0, 0.12);
}
