/*
  This file is the last in the chain so be mindful about possible unintentional overriding.
*/

body {
  margin: 0;
  font-family: "Libre+Baskerville", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: calc(24px + 1.5vw);
  font-size: calc(12px + 1.5vw);
  margin: 0 1rem;
  padding: 0;
  margin-bottom: 1rem;
}

h1,
h2 {
  color: var(--clr-accent);
  margin: 0 1rem;
  font-family: "Inter";
  font-weight: 100;
  font-style: normal;
  margin-bottom: 6vmin;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

h1 {
  line-height: calc(48px + 1.5vw);
  font-size: calc(24px + 1.5vw);
}

h2 {
  line-height: calc(40px + 1.5vw);
  font-size: calc(14px + 1.5vw);
}

a {
  color: var(--clr-accent);
}

blockquote {
  background: var(--clr-background-l1);
  padding: 0.5rem 2rem 1rem 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-right: solid var(--clr-accent) 15px;
  font-weight: 400;
  font-style: italic;
}

blockquote strong {
  font-weight: 700;
  font-style: normal;
}

.art1 {
  padding: 0rem;
}

pre {
  overflow-x: scroll;
  background: gray;
  color: white;
  font-size: 80%;
}

/* ======================================= */

body {
  color: var(--clr-foreground);
  background: var(--clr-background);
  touch-action: manipulation;
}

.debug {
  background: purple;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html::before {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: var(--p-1);
  background: var(--clr-label-background);
  color: var(--clr-label-foreground);
  font-size: 66%;
  z-index: 50;
  opacity: 0.9;
  content: "undefined";
}

html {
  font-family: "Inter";
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: always;
  -moz-osx-font-smoothing: always;
}

@media only screen and (min-width: 320px) and (max-width: 460px) {
  html::before {
    content: "mobile DEFAULT";
  }
}

@media only screen and (min-width: 460px) and (max-width: 1024px) {
  html::before {
    content: "pad-split 50/50";
  }
}

@media only screen and (min-width: 512px) and (max-width: 1024px) {
  html::before {
    content: "pad split large";
  }
  p {
    width: 70%;
    margin: auto;
    padding-bottom: 1rem;
  }
  h1,
  h2 {
    width: 70%;
    margin: auto;
  }
  blockquote {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  html::before {
    content: "mobile S";
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  html::before {
    content: "mobile M";
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  html::before {
    content: "mobile L";
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html::before {
    content: "pad fullscreen";
  }
}

@media only screen and (min-width: 1024px) {
  html::before {
    content: "desktop";
  }
  .grid {
    grid-template-columns: auto;
  }
}

asd {
  /* position: relative; */
  outline-width: 15px;
  outline-color: rgba(0, 0, 0, 0.104);
  outline-style: solid;
}

.grid {
  display: grid;
  grid-template-columns: 50px;
  grid-auto-rows: auto;
  gap: var(--p-1);
}

.panel {
  margin: 0 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bbg);
}

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.g-outside-command-bar {
  display: grid;
  grid-area: 2/-2/-2/-1;
}

.g-mode-buttons {
  grid-area: 1/1 / top-line/ span 2;
}

.xgrid-page-numberpad {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.g-epoch-window {
  display: grid;
  grid-area: 1/3 / top-line / span 1;
}

.g-signal {
  display: grid;
  grid-area: 1/-2;
}

@media (max-width: 380px) {
  /* find which media-query it belongs in */

  .g-signal {
    display: none;
  }

  .g-mode-buttons {
    display: block;
    position: fixed;
    height: 100px;
  }

  .g-outside-command-bar {
    display: none;
    /* background: green; */
    /* width: 100%; */
    /* padding: 1rem; */
  }

  .g-epoch-window {
    display: none;
  }

  .grid-page-numberpad {
    display: block;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */
    /* grid-auto-flow: column; */
    grid-auto-rows: 100px;
    /* grid-auto-columns: 1fr; */
    gap: 10px;
    height: 100vh;
  }
}

/* =========================================================================== */

@media (min-width: 381px) {
  .g-outside-command-bar {
    overflow: hidden;
  }

  .xgrid-page-numberpad {
    display: grid;
    grid-template-columns: 1fr 1fr 64px;
    grid-template-rows: repeat(5, 64px) 1fr [last-line] 64px [bottom-margin];
    gap: 10px;
  }
}

.g-selection {
  grid-area: 2 / 2 / span 4 / span 1;
  overflow: auto;
}

.g-ut {
  box-sizing: border-box;
  grid-area: 6 / 2;
}

.g-number-inputs {
  grid-area: 2 / 2 / span 1 / span 1;
}

.g-filter {
  grid-area: 2/3 / span 4 / span 1;
  overflow: auto;
}
.g-pomodore {
  display: none;
}
.g-debug {
  opacity: 0.5;
  grid-area: 2/1 /-2/-1;
  height: 100%;
}

.scroll-y {
  overflow-y: scroll;
  /* outline: 20px red; */
  /* outline-width: 20px; */
  scrollbar-width: 2rem;
}

.scroll-auto {
  overflow-y: auto;
}

.grid-numberpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 80px);
  gap: 4px;
  /* height: 360px; */
  /* width: 100%; */
  /* height: 100%; */
}

.shadow-inner-4 {
  box-shadow: inset 0 0 10px #000000;
}

/* ------------- */

.grid-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 10px;
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(64px, auto);
  grid-auto-flow: row;
  gap: 5px;
}

.clip {
  overflow: hidden;
}

.btn {
  height: 100px;
  width: 100px;
  border-radius: 3px;
  background: #333;
  color: #aaa;
}

.btn:hover {
  background: red;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-x {
  scroll-snap-type: x mandatory;
}
.snap-start {
  scroll-snap-align: start;
}
