<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/tailwind-output.css">
    <link rel="stylesheet" href="/css/screen.css">
    <link rel="stylesheet" href="/css/inter-web/inter.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">

    <title>{{ title }}</title>
  </head>
  <body>
    <div id="app" class="bg-white h-screen center">
      <div style="margin:auto" class="flex h-32 justify-between items-baseline">
            <h1 class="text-6xl bg-red-800 px-2 text-red-200 py-0 rounded-sm">dev</h4>
            <p class="mr-4"/>
            <p class="text-gray-600">
              Waiting for <span class="border-gray-500 border bg-gray-300 text-sm text-gray-700 px-1 pt-1"> {{make-command}}</span> to complete
            </p>
      </div>
    </div>
    <script type="text/javascript">
      var debugToken = "{{debug-token}}";
      var csrfToken = "{{csrf-token}}";
    </script>
    {% script "/js/wapp.js" %}
  </body>
</html>
