<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="/css/tailwind-output.css" />
    <link rel="stylesheet" href="/css/inter-web/inter.css" />
    <link rel="stylesheet" href="/css/injected-articles.css" />
    <title>Injected</title>
  </head>
  <body>
    {{content|safe}}
  </body>
</html>
