/* NOTE: These styles comes before anything else

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
*/

/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,400,900); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient-top {
  background: linear-gradient(
    to bottom,
    rgba(218, 225, 231, 1) 70%,
    rgba(218, 225, 231, 0) 100%
  );
}

.linear-gradient-bottom {
  background: linear-gradient(
    to top,
    rgba(218, 225, 231, 1) 70%,
    rgba(218, 225, 231, 0) 100%
  );
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.opacity-90 {
  opacity: 0.97;
}

.shadow-lg {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.333);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.2);
}

.shadow-5 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.shadow-4 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.shadow-6 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: scroll;
}

.clip-x {
  overflow-x: hidden;
  flex-wrap: wrap;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-x-prox {
  scroll-snap-align: center;
  scroll-snap-type: x proximity;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start start;
}

.snap-center {
  scroll-snap-align: center center;
}

button:focus {
  outline: none;
}

.debug {
  outline: red dotted 4px;
  outline-color: rgba(172, 255, 47, 0.308);
  outline-width: 4px;
  outline-offset: 0px;
  outline-style: solid;
}

.dbg2 {
  @apply border-4 border-blue-400;
}

.dbg3 {
  @apply border-2 border-red-800;
}

/* Inserting a collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
  flex-basis: 100%;
  height: 0;
}

/* Use a collapsed column to break to a new column */
.break-column {
  flex-basis: 100%;
  width: 0;
}

.inv-0 {
  @apply bg-gray-900 text-gray-200;
}

.inv {
  @apply bg-gray-600 text-gray-400 px-2 py-1;
}

.inv-2 {
  @apply bg-red-500 text-yellow-500 px-2 py-1;
}

.inv-3 {
  @apply bg-teal-800 text-yellow-400 px-2 py-1;
}

.clip {
  overflow: hidden;
}

.a-0 {
  @apply text-gray-200;
}
.a-1 {
  @apply text-gray-400;
}
.a-2 {
  @apply text-gray-400 font-thin;
}
.da-0 {
  @apply text-gray-500 font-black;
}

.g-1 {
  @apply border border-black p-2;
}

.xxx {
  font-family: "inter ui";
}

input[disabled] {
  @apply bg-blue-100 text-blue-800 opacity-75;
}

input[type="date"] ::placeholder {
  color: Red;
}

input {
  @apply bg-white text-gray-800;
}
