@import "imports/font-stuff.css";

:root {
  --p-1: 4px;

  --clr-light-foreground: hsl(0, 0%, 20%);
  --clr-light-accent: hsl(150, 76%, 31%);
  --clr-light-background: hsl(10, 3%, 95%);
  --clr-light-background-l1: hsl(10, 0%, 85%);

  --clr-dark-foreground: hsl(60, 33%, 92%);
  --clr-dark-accent: hsl(50, 50%, 50%);
  --clr-dark-background: hsl(240, 11%, 15%);
  --clr-dark-background-l1: hsl(240, 11%, 35%);

  --clr-accent: var(--clr-light-accent);
  --clr-foreground: var(--clr-light-foreground);
  --clr-background: var(--clr-light-background);
  --clr-background-l1: var(--clr-light-background-l1);

  --clr-label-foreground: var(--clr-background);
  --clr-label-background: var(--clr-foreground);

  --clr-blockquote-background: ;
  --clr-blockquote-foreground: ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-accent: var(--clr-dark-accent);
    --clr-background: var(--clr-dark-background);
    --clr-foreground: var(--clr-dark-foreground);
    --clr-background-l1: var(--clr-dark-background-l1);

    --clr-label-foreground: var(--clr-background);
    --clr-label-background: var(--clr-foreground);
  }
}

/* x {
  box-sizing: content-box;
} */
.xxx {
  background: Red;
}
